/.vscode/*
/.ipynb_checkpoints/*
config/
virtualenvs/
*catalog*.json
tap_config.json
target_config.json
*state*.json
target*.json
*.sublime-*
.python-version
singer-check-tap-data
*.pyc
*.egg-info
dist/
__pycache__/
venv/
build/
tap_target_commands.sh
.vscode
.DS_Store
.DS_Store?
/.DS_Store
.DS_Store
